:root {
  --primary-font: "Tilt Neon", cursive;
  --secondary-font: "Lora", serif;
  --primary-color: #e2dedc;
  --secondary-color: #e5bea1;
  --tertiary-color: #525058;
}

.theme-button {
  display: block;
  margin: 40px auto;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  transition: all 150ms ease-in-out;
  font-family: var(--primary-font);
}

.theme-button:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.theme-button:visited {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border: none;
}

body {
  background: var(--primary-color);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 60px;
  border-radius: 10px;
  background: #e5bea180;
}
img {
  max-width: 100%;
}

h1 {
  font-family: var(--primary-font);
  font-size: 86px;
  text-align: center;
  margin: 0px auto 0px auto;
  color: var(--tertiary-color);
}
h2 {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 36px;
  margin: 0px auto 40px auto;
  color: var(--tertiary-color);
  opacity: 0.8;
}

p {
  text-align: justify;
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.5;
  color: var(--tertiary-color);
}

a {
  text-decoration: none;
  font-family: var(--secondary-font);
}

.soymilk-intro-image {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.soymilk-intro-image:hover {
  transform: scale(1.1);
  filter: contrast(60%);
}
.buyButton {
  display: block;
  margin: 40px auto 0px auto;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-radius: 3px;
  padding: 8px 10px;
  transition: all 150ms ease-in-out;
  font-family: var(--primary-font);
  font-size: 16px;
}
.buyButton:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  cursor: pointer;
}

.dark {
  background: var(--tertiary-color);
}

.dark .container {
  background: #9c836f;
  color: var(--primary-color);
}

.dark h1,
.dark h2,
.dark p,
.dark footer {
  color: var(--primary-color);
}

.dark .theme-button {
  display: block;
  margin: 40px auto;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);

  border: 1px solid var(--primary-color);
  transition: all 150ms ease-in-out;
  font-family: var(--primary-font);
}

.theme-button:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.grid {
  display: grid;
  margin: 10px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid img {
  width: 100%;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  margin: 10px;
  font-size: 18px;
  font-family: var(--primary-font);
}

footer a {
  font-family: var(--primary-font);
}
